{% extends 'base.html' %}

{% load static %}

{% block content %}

<form action="{% url 'search_member' %}">
    <label for="search">Search</label>
    <input type="text" name="search" id="search">
    <input type="submit" value="Search" value="{{ values.search }}" placeholder= "{{values.search}}">
</form>

<h2> CURRENT MEMBERS </h2>
    {% if current_members %}
        {% for member in current_members %}
            {% if member.photo %}
                <a href="{% url 'member' member.id %}"><img src="{{ member.photo.url }}" alt="Member Photo" width="200" height="150" class="rounded-circle"></a>
            {% else %}
                <p>No photograph to show</p>
            {% endif %}
            <p>{{member.name}}</p>
            <button><a href="{% url 'member' member.id %}">View profile</a></button><br><br>
        {% endfor %}
    {% else %}
        <p> No current members </p>
    {% endif %}

<h2> PAST MEMBERS </h2>
    {% if past_members %}
        {% for member in past_members %}
            {% if member.photo %}
                <a href="{% url 'member' member.id %}"><img src="{{ member.photo.url }}" alt="Member Photo" width="200" height="120"></a>
            {% else %}
                <p>No photograph to show</p>
            {% endif %}
            <p>{{member.name}}</p>
            <button><a href="{% url 'member' member.id %}">View profile</a></button><br><br>
        {% endfor %}
    {% else %}
        <p> No past members </p>
    {% endif%}

    
{% endblock %}