{% extends 'base.html' %}

{% block content %}

<h2> View member info </h2>

    {% if member.photo %}
        <a href="{% url 'member' member.id %}"><img src="{{ member.photo.url }}" alt="Member Photo" width="400" height="220"></a>
    {% else %}
        <p>No photograph to show</p>
    {% endif %}

    <p> {{member.name}}</p>

    {% if member.description %}
        Description:<p>{{ member.description }}</p>
    {% else %}
        Description<p>No description to show</p>
    {% endif %}

    {% if member.email %}
        Email: <p>{{ member.email}}</p>
    {% else %}
        Email: <p>Email not available</p>
    {% endif %}

    
    {% if member.phone %}
        Phone: <p>{{ member.phone}}</p>
    {% else %}
        Phone: <p>Phone number not available</p>
    {% endif %}

{% endblock %}